@use '../../_DO-NOT-IMPORT/colors' as c;
@use '../../_DO-NOT-IMPORT/palette' as p;

[theme="light"] {
  --header--background: #{p.gold(10)};
  --font-color: #{p.amber(1)};
  --color__app_background: c.$white;

  --color__icons__side-bar: #{p.amber(1)};
  --color__icons__side-bar__hover: #{p.gold(10)};

  --color__background__side-bar: #{p.black(10)};
  --color__background__side-bar__hover: #{p.amber(4)};
  --color__background__side-bar__active: #{p.amber(2)};
  --color__background__side-bar__selected: #{p.amber(1)};

  --color__background__customer-order-section: #{p.black(10)};

  --color__popup-menu__item-hover: #{p.blue(9)};

  --color__customer-order__returning-items: #{p.gold(6)};
  --color__customer-order__pre-order: #{p.green(10)};
  --color__customer-order__on-the-way: #{p.gold(9)};
  --color__customer-order__pending: #{p.blue(9)};
  --color__customer-order__cancelled: #{p.black(6)};
  --color__customer-order__completed: #{p.black(10)};
  --color__customer-order__in-progress: #{p.amber(8)};
  --color__customer-order__order-delivery: c.$white;
  --color__customer-order__need-to-pack: c.$white;

  --color__customer-order-header__returning-items: #{p.gold(6)};
  --color__customer-order-header__pre-order: #{p.green(10)};
  --color__customer-order-header__on-the-way: #{p.gold(9)};
  --color__customer-order-header__pending: #{p.blue(9)};
  --color__customer-order-header__cancelled: #{p.black(6)};
  --color__customer-order-header__completed: #{p.black(10)};
  --color__customer-order-header__in-progress: #{p.amber(8)};
  --color__customer-order-header__order-delivery: c.$white;
  --color__customer-order-header__need-to-pack: c.$white;

  --color__tabs__header: #{p.black(10)};
  --color__tabs__header__selected: #{p.amber(6)};

  //General Text colors
  --color__text__gray: #{p.black(4)};
  --color__text__focused-blue: #{p.blue(2)};

  //General Background Colors
  --color__background__general-panel: white;
  --color__background__gray: #{p.black(4)};

  //Dialog
  --color__dialog-header-background: #{p.blue(2)};
}