.fleet
.idea/*
!.idea/copyright/
!.idea/dictionaries/
!.idea/runConfigurations/
!.idea/scopes/

error
error_message.txt
.trash
.ts_env
**/node_modules

node_modules
pnpm-lock.yaml
pnpm-workspace.yaml
dev-tools
package.json

.firebaserc
.firebase
firebase.json
firebase-debug.log
package-lock.json
auto-print-poc

*.iml
**/.DS_Store
neural
*.log
**/src/**/tsconfig.json