$lightGray: #f6f6f6;
$veryLightPink: #d8d8d8;
$blueGrey: #8181a8;
$disabledBlue: #B4C9D0FF;
$lightBlue: #00CAE0;
$gold: #B5986E;
$amber: #A15F3E;
$lightRed: #ffe2dc;
$green: #E3EFE2;
$red: #b61111;
$gray: #CCCCCC;

$black: #000000;
$white: #ffffff;
