@use 'sass:list';
@import 'node_modules/@nu-art/ts-styles';

$appColorChunks: 10;

$_black: paletteBuilder(#000000, $appColorChunks);
$_amber: paletteBuilder(#A15F3E, $appColorChunks);
$_gold: paletteBuilder(#B5986E, $appColorChunks);
$_blue: paletteBuilder(#007090, $appColorChunks);
$_green: paletteBuilder(#2bb21e, $appColorChunks);

@function black($i) {
  @return #{list.nth($_black, $i)}
}

@function amber($i) {
  @return #{list.nth($_amber, $i)}
}

@function gold($i) {
  @return #{list.nth($_gold, $i)}
}

@function blue($i) {
  @return #{list.nth($_blue, $i)}
}

@function green($i) {
  @return #{list.nth($_green, $i)}
}
