@use '../../../res/styles' as styles;

$form-card-height: 500px;

#page-login {
  width: 100%;
  height: 100%;
  padding: 0 128px;
  justify-content: space-between;
  align-items: center;

  .form-area {
    gap: 32px;

    img {
      width: 300px;
    }

    .header {
      .header__title {
        font: {
          weight: 600;
          size: 36px;
        }
      }

      .header__sub-title {
        font: {
          size: 34px;
        }
      }
    }

    .form-cards {
      height: $form-card-height;
      width: 330px;
      position: relative;

      .form-card {
        position: absolute;
        height: $form-card-height;
        width: 100%;
        border: 1px solid styles.gray(6);
        background: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
        transition: transform 100ms linear;
        box-shadow: 5px 5px 35px 1px rgba(0, 0, 0, 0.35);


        &.mount, &.enter {
          transform: rotateY(-90deg);
        }

        &.exit, &.exit-done {
          transform: rotateY(90deg);
        }
      }
    }

    .ts-account__authenticate {
      width: 100%;
      margin: 0;
      flex-grow: 1;
      padding: 16px;
      gap: 16px;

      .ts-prop-renderer {
        gap: 8px;

        .ts-input {
          border: 1px solid styles.black(5);
          height: 40px;
          width: 100%;
          border-radius: 10px;
          max-width: unset;
        }
      }

      .ts-account__error-messages {
        width: 100%;
        padding-block: 8px;
        padding-inline-start: 25px;
        background: styles.amber(7);
        border: 2px solid styles.amber(5);
        border-radius: 10px;

        li {
          color: styles.amber(3);
          font: {
            size: 13px;
          }
          white-space: pre-wrap;
        }
      }

      .ts-account__action-button {
        margin-top: auto;
        width: 100%;
        height: 40px;

        @include styles.mouseInteractiveBackground(styles.blue(3), styles.blue(2), styles.blue(1));
      }
    }

    .saml-buttons {
      width: 100%;
      padding: 0 16px;
    }

    .switch-area {
      width: 100%;
      margin: 16px 0;
      justify-content: center;
      align-items: center;
      gap: 4px;

      .hint, .clickable {
        font: {
          size: 14px;
          weight: bold;
        }
      }

      .clickable {
        color: styles.blue(3);
        cursor: pointer;
      }
    }
  }
}

@keyframes spinningBox {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}