@use '@nu-art/ts-styles' as tsStyles;

:root {
  //Fonts
  --font-size: 1rem;
  --font-family-main: 'Open Sans', sans-serif;

  //Border
  --border-color: #{tsStyles.ochre(7)};
  --border: 2px solid #{tsStyles.black(1)};
  --border-radius: 4px;

  //Transitions
  --linearTransition200: all linear 200ms;
  --easeTransition200: all ease-in-out 200ms;
}