@use '@nu-art/ts-styles' as styles;

.base-ui-manager {
  .items-list {
    width: 300px;
    gap: 2px;
    height: 100%;
    @include styles.customScrollbar('vertical', true);

    .item-list__header {
      height: 40px;
      width: 100%;
      border-bottom: 2px solid black;
      background: styles.gray(3);
      color: white;
      display: grid;
      place-content: center;
      font: {
        size: 18px;
        weight: bold;
      }
      flex-shrink: 0;
    }

    .item-list__filter {
      background: white;
      width: 100%;
      height: 30px;
      border-bottom: 2px solid black;

      .icon--wrapper {
        width: 30px;
        flex-shrink: 0;
      }

      .ts-input {
        width: 0;
        height: 100%;
        flex-grow: 1;
        border-radius: 0;
        border: none;
        outline: none !important;
      }
    }
  }
}